.geekDiv{
    padding: 1% 5%;
   font-size: 18px;
}

.searchBox{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 40px;
    font-weight: bold;
    &>input,&>button{
        width: 20%;
        height: 42px;
        padding: 0px 10px;
        padding-right: 40px;
        font-size: 18px;
        box-sizing: border-box;
        margin-left: 10px;
    }
    &>button{
        margin-left:auto;
        padding: 10px;
        width: 200px;
        cursor: pointer;
        border:none;
        background: brown;
        color: white;
        &:disabled{
            pointer-events: none;
            opacity: 0.5;
            color: white;
        }
    }
    svg{
        position: absolute;
        right: 10px;
        color: black;
        top: 15px;
        font-size: 20px;
    }
}
.loader{
    height: 582px;
    background:center 65%/20% no-repeat url(../assets/images/loader.gif),white;
    margin: 15px 0;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
}
.geekTableWrap{
    margin: 15px 0;
    table{
        width: 100%;
        background: whitesmoke;
        text-align: left;
        color:black;
        border-collapse: collapse;
        input[type=text]{
            height: 30px;
            padding: 0px 10px;
            font-size: 18px;
            box-sizing: border-box;
        }
        tr.active{
            background-color:lightgrey
        }
        td,th{
            padding:12px 10px;
            border-bottom: 1px solid;
        }
        svg{
            margin-right: 10px;
            cursor: pointer;
        }
    }
    
}

.pageList{
    list-style-type: none;
    text-align: center;
    width: 60%;
    margin: auto;
    li{
        display: inline-block;
        margin-left: 10px;
        width: 20px;
        padding: 10px;
        background-color: white;
        color: brown;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        &.active,&:hover{
            background-color: brown;
            color: white;
        }
        &.disabled{
            pointer-events: none;
            opacity: 0.5;
            color: black;
        }
    }
    svg{
        vertical-align: middle;
    }
}

@media screen and (max-width:500px){
    .geekTableWrap{
        overflow: auto;
        table{
            width: 250%;
            tr,td{
                padding: 10px;
            }
        }
       
    }
    .pageList{
        width: 100%;
        padding: 0;
        li{
            width: 20px;
            padding: 5px;
        }
    }
    .searchBox{
        display: block;
        button,input{
            width: 100%;
            margin: 0;
        }
        svg{
            top: auto;
            bottom: 15px;
        }
    }
    .loader{
        font-size: 30px;
        height: 300px;
        background-size: 40%;
    }
}

@media screen and (min-width:501px) and (max-width:800px){
    .geekTableWrap{
        overflow: auto;
        table{
            width: 130%;
        }
    }
    .searchBox > input{
        width: 30%;
    }
}