@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Pacifico&display=swap');
:root {
    --padding: 10px 12%;
    --activeColor: #fec110;
    --textColor: #cccccc;
    --lvlColor: #252525;
    --lvl1Color: #2B2C2C;
    --lvl2Color: #303131;
    --lvl3Color: #444444;
    --defaultgap: 50px;
    --h1: 28px;
    --h2: 24px;
    --h3: 20px;
    --h4: 18px;
    --h5: 16px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    overflow: hidden;
    background-color: var(--lvlColor);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hoverTitle {
    position: relative;
}

.cstToaster>div{
    background-color: var(--activeColor)!important;
}

.hoverTitle>b {
    font-size: 20px;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: width 0.2s;
    left: 55px;
    height: 55px;
    color: white;
    background: var(--lvlColor);
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0% 20px 20px 0%;
}

.hoverTitle:hover b {
    width: 180px;
}

.hoverTitle:hover {
    border-radius: 50% 0% 0% 50%;
}

/* #2b2c2c */

.cstHead {
    /* transition: all 1s; */
    height: 70px;
    font-size: var(--h4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--lvlColor);
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

.cstNavMenu {
    display: none;
    color: var(--activeColor);
    font-size: 40px;
}

.cstHead>div:first-child {
    font-family: 'Pacifico', cursive;
    font-size: var(--h1);
    color: var(--activeColor);
}

.cstNav {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: var(--h5);
}

.cstNav span {
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
}

.cstNav span:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0px;
    transition: 0.3s;
    border-bottom: 3px solid;
}

.cstNav span:hover, .cstNav span.active {
    color: var(--activeColor);
}

.cstNav span:hover:after, .cstNav span.active:after {
    width: 40px;
}

.mainDiv>div {
    padding: var(--padding);
    height: 100vh;
    display: flex;
    background-color: var(--lvl1Color);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: var(--h4);
    color: var(--textColor);
    overflow: auto!important;
    padding-top: 130px;
    position: relative;
    transition: all 0.5s;
    opacity: 1;
    overflow-x: hidden!important;
}

.homeDiv>div:last-child {
    position: absolute;
    right: 10%;
    transition: all 0.5s;
    background-color: #2B2C2C;
    width: 60%;
    height: 70%;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/images/mypic4.png);
}

.homeDiv.addHire>div:last-child {
    right: 50%;
    background-image: url(assets/images/mypic4.png);
}

.homeDiv>div {
    min-width: 40%;
    max-width: 40%;
    font-size: var(--h1);
}

.homeDiv>div>p:first-child {
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.cstbtn {
    min-height: 50px;
    font-size: var(--h3);
    min-width: 210px;
    background: var(--activeColor);
    color: white;
    border: 1px solid var(--activeColor);
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    border-radius: 5px;
    margin-top: var(--defaultgap);
    margin-right: 15px;
}

.backBtn {
    position: fixed;
    top: -90px;
    right: 20px;
    transform: rotate(-90deg);
    z-index: 111;
    min-width: 90px;
    transition: all 0.6s;
}

.backBtn.showUpBtn {
    top: calc(50vh - 50px);
}

.cstbtn:disabled {
    background: var(--lvl3Color)!important;
    cursor: auto;
    color: inherit!important;
}

.iconsDiv {
    display: flex;
}

.iconsDiv>span {
    border-radius: 50%;
    background: var(--lvlColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.iconsDiv>span:hover {
    background: var(--activeColor);
}

.iconsDiv svg {
    font-size: 30px;
    color: var(--textColor);
}

.iconsDiv>span:hover svg {
    color: white;
}

.divHeading {
    font-size: var(--h1);
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    margin-bottom: var(--defaultgap);
    color: white;
}

.divHeading:after {
    content: ' ';
    width: 50%;
    margin-top: 10px;
    border-bottom: 3px solid var(--activeColor);
}

div.aboutDiv {
    background-color: var(--lvl2Color);
}

div.aboutDiv i {
    font-size: var(--h2);
    font-weight: bolder;
}

.cstbtn:hover {
    color: var(--activeColor);
    background: transparent
}

.diffBtn {
    background-color: transparent;
}

.aboutDiv>div:first-child {
    border: 6px solid var(--activeColor);
    width: 30%;
    box-sizing: border-box;
}

.aboutDiv>div:first-child img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
    top: -40px;
    right: -40px;
    border: 10px solid #303131;
}

.aboutDiv>div:last-child {
    width: 60%;
}

div.skillsDiv, div.qualDiv, div.workDiv, div.contactDiv {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: var(--lvl1Color);
}

.skillsCircle, .skillsCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--defaultgap);
    flex-wrap: wrap;
}

.circle-border {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 18%;
    max-width: 18%;
    height: 110px;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;
    background: linear-gradient(270deg, var(--activeColor) 50%, transparent 0%), linear-gradient(10deg, var(--activeColor) 50%, lightgray 50%)
}

.circle-border:hover {
    padding: 10px;
}

.circle {
    text-align: center;
    border-radius: 10px;
    background-color: var(--lvl1Color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: var(--h3);
    line-height: 1.5;
    padding: 15px;
}

.skillsCard>div {
    width: 48%;
    margin: 2% 0;
    min-height: 320px;
    background: white;
    border-radius: 15px;
    background-image: url(assets/images/skillBack.jpg);
    background-size: 100%;
    position: relative;
    overflow: hidden;
    text-align: left;
    color: white;
    font-size: var(--h5);
}

.skillsCard>div:after {
    content: "";
    position: absolute;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.skillsCard>div:nth-child(1):after, .skillsCard>div:nth-child(6):after,.skillsCard>div:nth-child(9):after {
    background-image: linear-gradient(-48deg, rgb(36, 226, 254)0%, rgb(36, 176, 254)54%, rgb(35, 126, 253)100%);
}

.skillsCard>div:nth-child(2):after, .skillsCard>div:nth-child(5):after,.skillsCard>div:nth-child(10):after {
    background-image: linear-gradient(-48deg, rgb(255, 211, 36)0%, rgba(254, 187, 36)54%, rgba(253, 163, 35)100%)
}

.skillsCard>div:nth-child(3):after, .skillsCard>div:nth-child(8):after {
    background-image: linear-gradient(-48deg, rgba(248, 47, 160)0%, rgba(214, 54, 208)54%, rgba(180, 61, 255)100%)
}

.skillsCard>div:nth-child(4):after, .skillsCard>div:nth-child(7):after {
    background-image: linear-gradient(-48deg, rgba(0, 188, 128)0%, rgba(2, 204, 71)54%, rgba(3, 220, 13)100%)
}

.skillsCard>div>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--defaultgap);
    z-index: 111;
}

.skillsCard>div>div>p {
    font-size: var(--h1);
    font-weight: bold;
    margin: 20px 0;
}

.skillsCard>div img, .skillsCard>div svg {
    height: 80px;
    color: white;
}

div.qualDiv, div.contactDiv {
    background-color: var(--lvl2Color);
}

.eduCard {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: var(--defaultgap);
    flex-wrap: wrap;
}

.eduCard>div {
    width: 32%;
    padding: var(--defaultgap) 30px;
    box-sizing: border-box;
    font-size: var(--h5);
    background-color: var(--lvl3Color);
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
    margin-bottom: 15px;
}

.eduCard>div>p:nth-child(1) {
    font-size: var(--h2);
    color: white;
    font-weight: bold;
    margin: 15px 0;
}

.eduCard>div>p:last-child {
    margin-bottom: 0;
}

.workExDesp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--defaultgap);
}

.workExDesp>div {
    width: 20%;
    font-size: var(--h4);
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.workExDesp>div>span {
    font-size: 50px;
    margin-right: 15px;
    color: var(--activeColor);
}

.workCol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.workCard {
    text-align: left;
    background-color: var(--lvl3Color);
    padding: 30px;
    font-size: var(--h5);
    display: flex;
    width: 48%;
    margin: 2% 0%;
    /* min-height: 220px; */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid var(--activeColor);
    line-height: 1.4;
}

.workCard img {
    width: 130px;
    margin-right: 5%;
}

.workCard p {
    margin: 0;
    font-size: var(--h2);
    color: white;
    font-weight: bold;
    text-transform: initial;
}

.workCard>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.workOverlay {
    position: absolute;
    right: 0;
    left: 0;
    height: 0px;
    bottom: 0;
    box-sizing: border-box;
    transition: height 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: var(--activeColor);
    overflow: auto;
    line-height: 1;
}

.workOverlay>div {
    font-size: var(--h5);
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.workCard:hover .workOverlay {
    height: 100%;
    padding: 15px 30px;
    color: var(--lvl2Color);
}

.contactDiv>div:last-child {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.contactInfo {
    min-width: 35%;
    max-width: 35%;
    font-size: var(--h4);
    text-transform: uppercase;
}

.contactInfo td {
    padding: 8px 0;
    font-size: var(--h4);
    text-transform: initial;
}

.contactInfo table {
    margin: 20px 0px;
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 65%;
    max-width: 65%;
}

.contactForm>div {
    min-width: 31%;
    max-width: 31%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: var(--defaultgap);
}

.contactForm input, .contactForm textarea {
    min-height: 20px;
    border-radius: 2px;
    padding: 20px;
    font-size: var(--h5);
    border: none;
    outline: none;
    margin-top: 15px;
    resize: none;
    background: var(--lvl3Color);
    color: #cccccc;
    font-family: 'Maven Pro', sans-serif;
}

.erroredField {
    box-sizing: border-box;
    border-bottom: 2px solid red!important;
}

.contactForm>div:nth-last-child(2) {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
}

.achDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 100px;
}

.achCard {
    display: flex;
    min-width: 18%;
    max-width: 18%;
    box-shadow: 0px 1px 5px 0px rgb(255 255 255 / 50%);
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: linear-gradient(180deg, #21D4FD 0%, #B721FF 100%);
    padding-bottom: 20px;
    color: white;
    font-size: var(--h5);
    text-align: center;
    margin-bottom: 30px;
}

.achCard>div:first-child {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    position: absolute;
    top: -60px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-color: white;
    /* border: 10px solid var(--activeColor); */
    border-right: 0;
    /* box-shadow: 0px 0px 7px 11px rgb(255 255 255 / 50%); */
    border-top: 0;
    transition: all 0.1s;
}

.achCard:hover>div:first-child {
    background-size: 55%;
    box-shadow: 0px 0px 7px 11px rgb(255 255 255 / 50%);
}

.achCard>div:nth-child(2) {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--h3);
    font-weight: bolder;
    width: 100%;
    border-radius: 0 0 30% 30%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: white;
    color: var(--lvl3Color);
    padding-top: 65px;
}

.achCard>div:last-child {
    padding: 10px;
}

/* -----------------------------  */

@media only screen and (max-width: 450px) {
    body {
        overflow: auto;
    }
    :root {
        --padding: 10px 8%;
        --h1: 20px;
        --h2: 20px;
        --h3: 16px;
        --h4: 16px;
        --h5: 16px;
        --defaultgap: 25px;
    }
    .divHeading {
        margin-bottom: 20px;
        text-align: center;
    }
    .cstbtn {
        width: 100%;
        margin-right: 0;
    }
    .cstNav span:after, .homeDiv>div:nth-child(2)>div, .homeDiv .cstbtn, .backBtn, .nxtBtn {
        display: none;
    }
    .homeDiv>div, .aboutDiv>div, .skillsCard>div, .eduCard>div, .workCard, .contactInfo, .contactForm, .contactForm>div {
        min-width: 100%;
        max-width: 100%;
    }
    .mainDiv>div {
        flex-direction: column;
        text-align: left;
        height: auto;
        min-height: 100vh;
    }
    .cstNavMenu {
        display: flex;
    }
    .cstNav {
        position: absolute;
        right: 0;
        top: 80px;
        background-color: var(--lvlColor);
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: auto;
        width: 0;
        transition: width 0.5s;
        padding-top: 10%;
    }
    .cstNav.open {
        width: 100vw;
    }
    .cstNav>span {
        width: 70%;
        text-align: center;
        font-size: var(--h2);
        margin-bottom: 30px;
        white-space: pre;
    }
    .homeDiv {
        justify-content: flex-start!important;
    }
    .homeDiv>div:last-child {
        position: static;
        transition: all 0.5s;
        background-color: #2B2C2C;
        min-height: 250px;
        order: -1;
    }
    .homeDiv>div>p:first-child {
        font-size: 40px;
        justify-content: center;
    }
    .aboutDiv>div:first-child img {
        height: auto;
        top: 15px;
        left: 10px;
        width: 100%;
    }
    .circle-border {
        min-width: 46%;
        max-width: 46%;
        margin: 2%;
    }
    .workExDesp>div {
        flex-direction: column;
        text-align: center;
        width: 33%;
    }
    .workExDesp>div>span {
        margin: 0;
    }
    .workCard {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }
    .workCard img {
        width: 35%;
        margin: 15px auto;
    }
    .workOverlay {
        text-align: left;
    }
    .contactForm {
        order: -1;
        margin-bottom: 30px;
    }
    .achDiv {
        margin-top: 20px;
    }
    .achCard {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    .achCard>div:first-child {
        width: 80px;
        height: 80px;
        top: 16px;
        left: 16px;
    }
    .achCard>div:nth-child(2), .achCard>div:nth-child(3) {
        height: 64px;
        font-size: var(--h3);
        padding: 10px;
        justify-content: flex-end;
        border-radius: 0;
        padding-left: 30%;
        align-items: center;
        text-align: right;
        margin: 0;
    }
    .achCard>div:nth-child(3) {
        height: auto;
    }
}

@media only screen and (min-width: 451px) and (max-width: 1100px) {
    :root {
        --padding: 10px 8%;
        --h1: 20px;
        --h2: 20px;
        --h3: 16px;
        --h4: 16px;
        --h5: 16px;
        --defaultgap: 25px;
    }
    .homeDiv .cstbtn:not(.diffBtn), .homeDiv>div:nth-child(2)>div {
        display: none;
    }
    .cstNav {
        min-width: 80%;
    }
    div.homeDiv {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .homeDiv>div, .eduCard>div, .workCard, .contactInfo, .contactForm {
        min-width: 100%;
        max-width: 100%;
    }
    .homeDiv>div:last-child {
        height: 400px;
        position: static;
        order: -1;
    }
    .iconsDiv {
        justify-content: center;
    }
    .aboutDiv>div:nth-child(-n+2) {
        width: 43%;
    }
    .contactForm {
        order: -1;
        margin-bottom: 50px;
    }
    .circle {
        padding: 5px;
    }
    .achDiv {
        margin-top: 20px;
    }
    .achCard {
        min-width: 48%;
        max-width: 48%;
        margin: 2% 0;
        padding: 0;
    }
    .achCard>div:first-child {
        width: 80px;
        height: 80px;
        top: 16px;
        left: 16px;
    }
    .achCard>div:nth-child(2), .achCard>div:nth-child(3) {
        height: 64px;
        font-size: var(--h3);
        padding: 10px;
        justify-content: flex-end;
        border-radius: 0;
        padding-left: 30%;
        align-items: center;
        text-align: right;
        margin: 0;
    }
    .achCard>div:nth-child(3) {
        height: auto;
    }
    .backBtn {
        top: -90px;
        right: -30px;
        position: fixed;
        min-height: 30px;
    }
    .backBtn svg {
        width: 30px;
        height: 30px;
    }
    .workExDesp>div {
        width: 25%;
    }
    .homeDiv>div:last-child{
        background-size: 100%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    .workCard {
        min-width: 48%;
        max-width: 48%;
    }
    .homeDiv>div:last-child {
        height: 50%;
    }
}

@media only screen and (min-width: 451px) {
    .mainDiv>div.awayDiv {
        opacity: 0;
    }
}